/.web-server-pid
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/nbproject/*
*.dir
*.idx
*.seq
*.db
/.idea/*
web/code-coverage/*
*.DS_STORE*
*.DS_Store*
/web/FCGR.png
/web/dendogram.png
/web/public/diagrams
/web/public/diagrams/*
/web/docs/
/web/docs/*
/web/public/uploads
/myreport
composer.lock
