default:
  extensions:
    Behat\Symfony2Extension: ~
    Behat\MinkExtension:
      base_url: localhost:8000
      sessions:
        default:
          symfony2: ~
          javascript:
            selenium2: ~