{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Amelaye's BioPHP demo</h1>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <h5 class="card-header">Code Samples</h5>
                    <div class="card-body">
                        <ul>
                            <li><a href="{{ url('read_sequence_genbank') }}">Opening a SEQ (genbank) database</a></li>
                            <li><a href="{{ url('read_sequence_swissprot') }}">Opening a Swissprot database</a></li>
                            <li><a href="{{ url('sequence_alignment_fasta') }}">Sequence alignement of a FASTA file</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}