{% extends '@App/base.html.twig' %}
{% block title %}Protein sequence information{% endblock %}
{% block body %}
    <h2>Protein sequence information</h2>

    {{ form(form) }}

    <div class="card">
        <h5 class="card-header">Protein sequence information tool</h5>
        <span class="card-body">
                <div class="card-text">
                    <h5 class="card-title">Notes : </h5>
                    <p>
                        Non-coding characters will be removed by default.<br />
                        <a href=http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=retrieve&db=pubmed&list_uids=7957164&dopt=abstract>NC-UIBMB</a> codes are used as a reference.
                    </p>
                    <h5>Computation : </h5>
                    <p>
                        Molecular Weight: <br />
                    <pre>
                        MW =(A*71.07)+(R*156.18)+(nN*114.08)+(nD*115.08)+(nC*103.10)
                        +(nQ*128.13)+(nE*129.11)+(nG*57.05)+(nH*137.14)+(nI*113.15)+
                        +(nL*113.15)+(nK*128.17)+(nM*131.19)+(nF*147.17)+(nP*97.11)+
                        +(nS*87.07)+(nT*101.10)+(nW*186.20)+(nY*163.17)+(nV*99.13)+18.02</pre>
                    </p>
                    <p> Molar absorption coefficient: <a href=http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=pubmed&dopt=Abstract&list_uids=8563639>Pace et al., 1995</a></p>
                    <p>Isoelectric point estimation: <a href=http://fields.scripps.edu/DTASelect/20010710-pI-Algorithm.pdf>Tabb D., 2003</a></p>
                    Type of aminoacid (1):
                    <ul>
                        <li>Polar: SCTNQHYW</li>
                        <li>Non-Polar: GAPVILFM</li>
                        <li>Charged: DEKR</li>
                    </ul>
                    Type of aminoacid (2):
                    <ul>
                        <li>Small non-polar: SCTNQHYW (Yellow)</li>
                        <li>Hydrophobic: CVILPFYMW (Green)</li>
                        <li>Polar: DQH (Magenta)</li>
                        <li>Negatively charged: NE (Red)</li>
                        <li>Positively charged: KR (Blue)</li>
                    </ul>
                </div>
                <p>&nbsp;</p>
                <footer class="blockquote-footer">Text taken from <cite title="Source Title">biophp.org</cite></footer>
            </span>
    </div>

{% endblock %}